

/* desktop */
@media screen and (min-width: 1024px){
    .Home {
        transition: opacity 0.25s ease-in-out;
        display: flex;
    } 
    
    .HomeHeader{
        width: 60%;
        float: left;
        margin: auto;

    } 

    .HomeH1 {
        text-align: left;
        line-height: 0.7em;

        font-weight: 400;
        font-size: 1.4em;
        letter-spacing: -0.015em;
        color: #363636;
        /* line-height: 1.25em; */
        margin-bottom: 0;
    
        
    } 
    
    .Homep{
        line-height: 0.3em;
        text-align: left;
        color: #aaa;
        font-size: large;
    }

    .HomeSmall{
        line-height: 0.3em;
        color: #aaa;
        text-align: left;
        font-size: small;
    }
    
    .DisplayParent {
        text-decoration: none;
        position: relative;
        width: 30%;
        display: inline-block;
    }
    
    .Home img {
        width: 100%;
        float: right;
    } 
    
    .Arrow {
        /* box plscement to side */
        display: block;
        position: absolute;
        right: 0;
        top: 40%;
        /* margin-top: 20%; */
    
        /* arrow */
        width: 2.75em;
        height: 2.75em;
        background: #000;
        background: rgba(0, 0, 0, 0.75);
        color: #ffffff;
        line-height: 2.75em;
        z-index: 1;

        padding-right: 0px;
        transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    
    }
    
    .Arrow:hover{
        padding-right: 20px;
        transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    }
    
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .Home {
        transition: opacity 0.25s ease-in-out;
        padding-bottom: 0;
    } 

     .DisplayParent {
        position: relative;
    }

    .HomeHeader{
        padding: 5% 5% 5% 5%;
        width: 90%;
        margin: auto;
    } 

    .HomeH1 {        
        line-height: 0.3em;

        font-weight: 400;
        font-size: 1.4em;
        letter-spacing: -0.015em;
        color: #363636;
        line-height: 1.25em;
        margin-bottom: 0;
    
    } 
    
    .Homep{
        line-height: 0.3em;
        color: #aaa;
        font-size: x-large;
    }

    .HomeSmall{
        line-height: 0.3em;
        color: #aaa;
        font-size: medium;
    }
    
    
    .Home img {
        width: 100%;
        float: right;
    } 
    
    .Arrow {
        /* box plscement to side */
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: 45%;
    
        /* arrow */
        width: 2.75em;
        height: 2.75em;
        background: #000;
        background: rgba(0, 0, 0, 0.75);
        color: #ffffff;
        line-height: 2.75em;
        z-index: 1;
        padding-right: 0px;
        transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    
    }
    
    .Arrow:hover{
        padding-right: 20px;
        transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    }
}

/* mobile */
@media screen and (min-width: 481px) and (max-width: 767px){
   
    .Home {
        transition: opacity 0.25s ease-in-out;
        padding-bottom: 0;
    } 

     .DisplayParent {
        position: relative;
    }

    .HomeHeader{
        padding: 5% 5% 5% 5%;
        width: 90%;
        margin: auto;
    } 

    .HomeH1 {
        line-height: 0.3em;

        font-weight: 400;
        font-size: 1.4em;
        letter-spacing: -0.015em;
        color: #363636;
        line-height: 1.25em;
        margin-bottom: 0;
    
    } 

        
    .Homep{
        line-height: 0.3em;
        color: #aaa;
        font-size: large;
    }

    .HomeSmall{
        line-height: 0.3em;
        color: #aaa;
        font-size: small;
    }
    
    
    .Home img {
        width: 100%;
        float: right;
    } 
    
    .Arrow {
        /* box plscement to side */
        display: block;
        position: absolute;
        right: 0;
        top: 20%;
        margin-top: 45%;
    
        /* arrow */
        width: 2.75em;
        height: 2.75em;
        background: #000;
        background: rgba(0, 0, 0, 0.75);
        color: #ffffff;
        line-height: 2.75em;
        z-index: 1;
        padding-right: 0px;
        transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    
    }
    
    .Arrow:hover{
        padding-right: 20px;
        transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    }
    
        
}

/* tiny phone */
@media screen and (max-width: 480px){

    .Home {
        transition: opacity 0.25s ease-in-out;
        padding-bottom: 0;
    } 

     .DisplayParent {
        position: relative;
    }

    .HomeHeader{
        padding: 5% 5% 5% 5%;
        width: 90%;
        margin: auto;
    } 

    .HomeH1 {
        font-size: xx-large;
        line-height: 0.3em;

        font-weight: 400;
        font-size: 1.4em;
        letter-spacing: -0.015em;
        color: #363636;
        line-height: 1.25em;
        margin-bottom: 0;
    
    } 

    .Homep{
        line-height: 0.3em;
        color: #aaa;
        font-size: large;

    }

    .HomeSmall{
        line-height: 0.3em;
        font-size: small;
        color: #aaa;
    }
    
    
    .Home img {
        width: 100%;
        float: right;
    } 
    
    .Arrow {
        /* box plscement to side */
        display: block;
        position: absolute;
        right: 0;
        top: 20%;
        margin-top: 45%;
    
        /* arrow */
        width: 2.75em;
        height: 2.75em;
        background: #000;
        background: rgba(0, 0, 0, 0.75);
        color: #ffffff;
        line-height: 2.75em;
        z-index: 1;
        padding-right: 0px;
        transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    
    }
    
    .Arrow:hover{
        padding-right: 20px;
        transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    }
    
} 