.Title {

    text-align: center;
    border: thin black solid;
    background-color: grey;

    /* padding-bottom: 5%; */
    width: 80%;

    /* position: 'absolute', 50% ,50%;
    transform: 'translate(-50%, -50%)' */

} 
