
/* mobile */
.NavigationItems{
    margin: 4% auto 0 auto;
    /* margin: auto; */
    padding:0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    flex-flow: row;
    /* flex-direction: column; */
}

