
/* mobile */
.NavigationItems{
    margin: 4% auto 0 auto;
    padding:0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    /* height: 40%; */
    width: 40%;
    flex-flow: row;
    /* position: relative; */
}

/* desktop */
/* @media(min-width: 500px){
    .NavigationItems{
        flex-flow: row;
    }
} */

