.DisplayItem {

    text-align: center;
    border: thin black solid;

    width: 30%;
    display: inline-block;
    /* flex-flow: row; */
    /* flex-direction: row; */
    /* margin: auto 2% 2% auto; */
    

} 

.DisplayParent{
    border: thin blue solid;
    width: 50%;

}

/* desktop */
@media screen and (min-width: 1024px){
    .DisplayItem {
        width: 30%;
    } 

}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .DisplayItem {
        width: 45%;
    } 

}

/* mobile */
@media screen and (max-width: 767px){
    .DisplayItem {
        width: 90%;
        margin: 4% 2% 5% auto;
    } 
        
}


.DisplayItem p{

    text-align: center;
    border: thin black solid;
    font-size: small;

    margin: 0;
    padding: 0;
    border: 0;
} 

.DisplayItem h3{
    font-size: 1.25em;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #363636;

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.DisplayDescription{
    border: thin red solid;
    height: 100px;
}

.DisplayImage {

    width: 100%;
    display: block;

    border: 1PX SOLID #eee;
    box-shadow: 0 1px 1pc #ccc;
    padding: 1px;

  }

