.Header {

    text-align: center;
    border: thin black solid;
    background-color: white;

    width: 95%;
    padding-bottom: 3%;
    /* margin: auto; */
    margin: auto auto 2% auto;

    position: relative;
} 

/* center text */
/* .Header p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */