.Certificates {
    text-align: center;
    /* transition: all .5s ease !important; */
  } 

.DisplayParent{
    margin: auto;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.Icons{
    text-decoration: none;
    color: black;
    opacity: 60%;
    transition: opacity .25s ease-in-out;
}
.Icons:hover{
    opacity: 1;
}