/* .Body {
    background-image: url("../../images/overlay.png"), url("../../images/blue-green-gradient.png");
    background-image: url("../../images/blue-green-gradient.png");
    background-repeat: repeat, no-repeat;
    background-size: auto, 100% 100%;
    background-attachment: fixed;
    overflow-y: scroll; 

    text-align: center;
    border: thin black solid;

  }  */

  .Body {
    text-align: center;
    border: thin black solid;
    padding-bottom: 5%;
    background-color: lightgray;
    width: 90%;
    padding-bottom: 3%;
    margin: auto;
  } 

