
  .Body {
    text-align: center;
    background-color: white;
    width: 90%;
    padding-bottom: 5%;
    margin: auto auto 5% auto;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #535353;
    font-size: 20pt;
    line-height: 1em;
  } 

  @media screen and (min-width: 1024px){
    .Body {
        text-align: center;
        padding-bottom: 5%;
        background-color: white;
        width: 60%;
        margin: auto auto 5% auto ;
      } 
  }
