.Code {
    text-align: center;
    /* transition: all .5s ease !important; */
} 

.DisplayParent{
    padding-top: 2%;
    padding-bottom: 5%;
    width: 90%;
    margin: auto;
}

.Icons{
    text-decoration: none;
    color: black;
    opacity: 0.60;
    transition: opacity .25s ease-in-out;
}
.Icons:hover{
    opacity: 1;
}

.Logos{
    padding-top: 5%;
    padding-bottom: 5%;
    white-space: nowrap;
}

.Logos img{
    width: 56px;
}


@media screen and (max-width: 480px){
    .Logos img{
        width: 36px;
    }
}
