
.NavigationItem {
    margin: auto;
    /* margin-left: 15%; */
    display: flex;
    height: 100%;
    width: 30%;
    align-items: center;
    
    line-height: 1em;
}
.NavigationItem a {
    color: white;
    height: 100%;
    padding: 0px 0px 40px 0px;
    border-bottom: 4px solid transparent;

    display: flex;
    flex: column;
    justify-content: center;

    opacity: 0.35;
    color: #ffffff;
    font-size: 1.5em;
    transition: opacity .25s ease-in-out;
}

.NavigationItem a:hover{
    opacity: 1.0;

}
.NavigationItem a:active,
.NavigationItem a.active {
    padding: 0px 0px 56px 0px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    opacity: 1.0;
    
    /* transition: border-bottom-width .25s ease; */
    

}
